body {
    background: url("../img/dj-playing-music-at-sound-mixer-in-night-club_53876-18678.jpg") no-repeat 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: start;
}

.sound {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 3px solid violet;
    width: 110px;
    height: 110px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    justify-content: center;
    border-radius: 10px;
    transition: all .3s;
}

.sound span {
    font-size: 1.2rem;
    color: greenyellow;
    padding-top: 0.5rem;
}

.active {
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
button {
    width: 200px;
    height: 40px;
    background: greenyellow;
    margin-bottom: 2em;
    margin-top: 5em;
    border: #97b667 solid 1px;
    border-radius: 10px;
    cursor: pointer;
}

#content {
    margin: 0 auto;
}

#content {
    display: flex;
    flex-flow: wrap;
    width: 250px;
    height: 250px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 4em;
}

#hw-01{
    color: white;
}
